{% extends "layout.html" %}

{% block title %}
    Search for Recipes
{% endblock %}

{% block main %}
    <div class="container p-5">
        <h1>Search for any recipe you want!</h1>
        <p class="border-bottom mb-4 ingredients">You can then add whatever recipe you like to your My Recipes page to save them for later. Happy cooking!  </p>
        <form action="/search" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.search(class='form-control')}}
            </div>
            <div class="center"><button class="btn btn-dark" type="submit">Search</button></div> 
            <br>
            <br>
        
        </form>

        <table class="table ">
            {% if search|length > 0 %}
            <thead>
                <tr style="font-weight: bold;" >
                    <td class="border" style="width: 80%; font-size: 18pt;">Recipe</td>
                    <td style="text-align: center; font-size: 14pt;">Expand the recipe</td>
                </tr>
            </thead>

            <tbody>
                
                {% for item in search %}
                <tr>
                    <td class="border recipe_name">
                        <img src="{{item['image']}}" alt="" width="100px">
                        <a href="{{item['url']}}" target="_blank" class="border-bottom mb-4">{{item['name']}}</a> 
                        <p style="text-align: left; font-size: 10pt;" class="ingredients"><strong>Ingredients: </strong>{{', '.join(item['ingredients'])}}</p> 
                    </td>
                    <td style="text-align: center;" class="border"> 
                        <br>
                            <form action="/recipe_page" method="GET">
                                <input type="text" style="display: none;" name="id" value="{{item['uri']}}"> 
                                <button type="" class="btn btn-dark" >Expand</button>
                            </form>
                             
                    </td>
                </tr>
                {% endfor %}
                
            {% elif request.method == 'POST'  %}
                <div class="container" style="text-align: center; font-size: 14pt; ">No recipes for what you searched for. <br> Check for spelling errors or try to make a less specific search</div>

            {% endif %}

            </tbody>

            
        </table>
        
    </div>
{% endblock %}